<section class="flex flex-col gap-8">
  <h1 class="w-fit">Assignment {{ assignmentNumber }}</h1>

  <div class="flex gap-20">
    <ol class="w-2/5 list-disc">
      <li>Create three new components: GameControl, Odd and Even</li>
      <li>
        The GameControl Component should have buttons to start and stop the game
      </li>
      <li>
        When starting the game, an event (holding a incrementing number) should
        get emitted each second (ref = setInterval())
      </li>
      <li>The event should be listenable from outside the component</li>
      <li>
        When stopping the game, no more events should get emitted
        (clearInterval(ref))
      </li>
      <li>
        A new Odd component should get created for every odd number emitted, the
        same should happen for the Even Component (on even numbers)
      </li>
      <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
      <li>
        Style the element (e.g. paragraph) holding your output text differently
        in both components
      </li>
    </ol>

    <div class="flex w-3/5 grow gap-10">
      <app-assignment-4-game-control
        (intervalEmmiter)="onIntervalEmmited($event)"
      ></app-assignment-4-game-control>

      <section class="flex gap-10">
        <div>
          <app-assignment-4-odd
            *ngFor="let odd of oddNumbers"
            [odd]="odd"
          ></app-assignment-4-odd>
        </div>

        <div>
          <app-assignment-4-even
            *ngFor="let even of evenNumbers"
            [even]="even"
          ></app-assignment-4-even>
        </div>
      </section>
    </div>
  </div>
</section>
