<div
  class="flex w-96 items-center justify-between rounded border border-gray-300 p-4"
>
  <p class="text-white">
    <span [ngStyle]="{ color: getColor() }">
      {{ server.name }}
    </span>

    is currently

    <span [ngStyle]="{ color: getColor() }">{{ server.status }}</span>
  </p>

  <div class="flex gap-6">
    <i (click)="toggleStatus()" class="fas fa-plug cursor-pointer"></i>

    <i
      [routerLink]="['/servers/' + server.id + '/edit']"
      [queryParams]="{ allowEdit: true }"
      fragment="editing"
      class="fas fa-gear cursor-pointer"
    ></i>
  </div>
</div>
