<div class="f-col gap-8">
  <h2>Managing Server {{ server.name }}</h2>

  <div class="f-col gap-4">
    <label>Edit server name (currently {{ server.name }})</label>

    <input [(ngModel)]="newServerName" />

    <button class="lg bg-primary" (click)="updateServerName()">Apply</button>
  </div>

  <p class="text-white">
    The server ID
    <span [ngStyle]="{ color: getColor() }">
      {{ server.id }}
    </span>

    is currently

    <span [ngStyle]="{ color: getColor() }">{{ server.status }}</span>
  </p>

  <div class="f-col gap-4">
    <button (click)="toggleStatus(server.id)" class="lg bg-warning">
      Toggle State
    </button>

    <button (click)="deleteServer(server.id)" class="lg bg-danger">
      Delete Server
    </button>
  </div>
</div>
