<main class="flex flex-col items-center gap-16">
  <h2 class="text-2xl font-semibold">My Servers</h2>

  <section class="flex w-full gap-44">
    <div class="flex flex-col items-center gap-4">
      <div class="flex w-96 flex-col">
        <input
          type="text"
          (input)="updateServerName($event)"
          placeholder="Server Name"
        />

        <label class="text-xs text-gray-400">
          Does not use Two-way Binding
        </label>
      </div>

      <div class="flex w-96 flex-col">
        <input
          type="text"
          [(ngModel)]="newServerName"
          placeholder="Server Name"
        />

        <label class="text-xs text-gray-400">Uses Two-way Binding</label>
      </div>

      <p *ngIf="newServerName; else emptyServerName">
        New server name:

        <span class="underline">{{ newServerName }}</span>
      </p>

      <ng-template #emptyServerName>
        <p>Enter Server Name</p>
      </ng-template>

      <app-button
        size="lg"
        [outlined]="true"
        (click)="createServer()"
        [disabled]="!allowNewServer || newServerCreated || !newServerName"
      >
        Add new server
      </app-button>

      <div class="text-center">
        <div *ngIf="newServerCreated; else noServerMessage">
          <p>A new server has been created with the name</p>

          <p class="underline">'{{ newServerName }}'</p>
        </div>
      </div>

      <ng-template #noServerMessage>
        <p class="mb-6">No server was created.</p>
      </ng-template>

      <app-server
        *ngFor="let server of serverList"
        [server]="server"
      ></app-server>
    </div>

    <router-outlet></router-outlet>
  </section>
</main>
