<section class="f-col gap-8 max-w-4xl">
  <h1 class="text-3xl font-bold w-fit">
    Assignment {{ assignmentNumber }}
  </h1>

  <div class="flex gap-20">
    <ol class="w-2/5 list-disc">
      <li>Add A button which says 'Display Details'</li>
      <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
      <li>Toggle the displaying of that paragraph with the button created in the first step</li>
      <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or
        simply an incrementing number)</li>
      <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color
        (ngClass)</li>
    </ol>

    <div class="w-3/5 flex gap-20">
      <div class="min-w-[12rem] f-col gap-4">
        <button class="bg-primary lg h-fit" (click)="clickHandler()">Display Details</button>

        <p *ngIf="show">Secret Password = tuna</p>
      </div>

      <div class="grid grid-cols-12 grid-rows-12 gap-2">
        <p *ngFor="let click of clicks" [ngStyle]="{ backgroundColor: click >= 5 ? 'white' : 'transparent' }"
          [ngClass]="{ 'black-text': click >= 5 }">{{ click }}</p>
      </div>
    </div>
  </div>
</section>