<section class="flex flex-col gap-8">
  <h1 class="text-3xl font-bold cursor-pointer w-fit" (click)="onClick()">
    Assignment {{ assignmentNumber }}

    <i class="fa-solid fa-caret-down text-xl"></i>
  </h1>

  <div [ngClass]="{ 'hidden': !visible }">
    <div class="flex gap-20">
      <ol class="w-2/5 list-disc">
        <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
        <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
        <li>Add a button which may only be clicked if the username is NOT an empty string</li>
        <li>Upon clicking the button, the username should be reset to an empty string</li>
      </ol>

      <div class="w-3/5 overflow-hidden">
        <input type="text" class="text-black" [(ngModel)]="username">

        <button class="p-1 ml-4 bg-blue-500 rounded disabled:opacity-60 disabled:cursor-not-allowed w-fit" type="reset"
          (click)="username = ''" [disabled]="!username">Reset Name</button>

        <p>Name is <span class="underline">{{ username }}</span></p>
      </div>
    </div>
  </div>
</section>