<section class="py-4">
  <form class="f-col gap-1">
    <label>Account Name</label>

    <div class="flex gap-4">
      <input type="text" #accountName class="w-2/5" />

      <select #status class="w-1/6 cursor-pointer bg-slate-500">
        <option *ngFor="let type of accountTypes" [ngValue]="type">
          {{ type }}
        </option>
      </select>

      <button
        class="bg-primary"
        (click)="createAccount(accountName.value, status.value)"
      >
        Add Account
      </button>
    </div>
  </form>
</section>
