<section
  class="flex h-full w-full flex-col items-center justify-center gap-12 pt-40"
>
  <i class="far fa-face-grin-beam-sweat text-7xl"></i>

  <div class="flex flex-col gap-6 text-center">
    <h1>404</h1>

    <h2>{{ errorMessage }}</h2>

    <section class="flex justify-between gap-4">
      <app-button
        (click)="goBack()"
        size="full"
        variant="secondary"
        [outlined]="true"
        [iconFlt]="true"
        icon="arrow-left"
      >
        Prev page
      </app-button>

      <app-button
        routerLink="/"
        size="full"
        variant="primary"
        [outlined]="true"
        icon="home"
      >
        Return to
      </app-button>
    </section>
  </div>
</section>
