<section class="flex flex-col gap-8">
  <h1 class="w-fit">Assignment {{ assignmentNumber }}</h1>

  <div class="flex gap-20">
    <section class="w-2/5">
      <p>Build four custom pipes:</p>
      <ol class="ml-6 mt-1 list-decimal">
        <li>A reverse pipe that reverses the server instance type</li>

        <li>
          A shorten pipe that shorts the server name to a certain limit of
          characters
        </li>

        <li>
          A filter pipe that filters the server list by name using the selector
        </li>

        <li>
          A sort pipe that automatically sorts the server list by a certain
          server property
        </li>
      </ol>
    </section>

    <div class="flex w-3/5 grow gap-10">
      <div class="flex w-full flex-col gap-4">
        <h2>Filter Servers</h2>

        <select type="text" [(ngModel)]="statusFilter">
          <option value="" hidden>Select a status</option>

          <option value="">Show All</option>

          <option
            *ngFor="let status of statusList; let i = index"
            [ngValue]="statusList[i]"
          >
            {{ statusList[i].charAt(0).toUpperCase() + statusList[i].slice(1) }}
          </option>
        </select>

        <hr class="my-4" />

        <div class="flex justify-between gap-4">
          <h2>App Status: {{ appStatus | async }}</h2>

          <app-button [outlined]="true" (click)="addServer('New Server')">
            Add Server
          </app-button>
        </div>

        <ul class="relative flex flex-col gap-2">
          <li
            *ngFor="
              let server of servers
                | filter : statusFilter : 'status'
                | sort : 'name'
            "
            [ngClass]="statusClass(server.status)"
            class="card-server w-full"
          >
            <p>
              <strong>{{ server.name | shorten : 10 }}</strong>
              | {{ server.instanceType | reverse }} |
              {{ server.started | date : 'fullDate' }}
            </p>

            <span class="badge">
              {{ server.status | uppercase }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
