<section class="flex flex-col gap-8">
  <h1 class="text-3xl font-bold">Assignment {{ assignmentNumber }}</h1>

  <div class="flex gap-20">
    <ol class="w-2/5 list-disc">
      <li>Optimize the current app with adding a service called UsersService</li>
      <li>Throw the current responsability of managing the users state to the new service</li>
      <li>Also, add a CounterService to keep track of how many switches happened, both from active to inactive</li>
      <li>Output the counter whenever it increases</li>
    </ol>
  </div>
</section>