<!-- eslint-disable tailwindcss/no-custom-classname -->
<section class="flex justify-between gap-8">
  <section
    class="dropzone flex flex-1 grow flex-col gap-4 rounded bg-slate-700"
  >
    <h2 class="px-6 pt-6">{{ listName }}</h2>

    <ul
      [id]="listId"
      class="sortable-list flex grow flex-col gap-4 px-6 pb-8 pt-4"
    >
      <li
        class="item"
        *ngFor="let item of listItems; let i = index"
        draggable="true"
        (dragstart)="onDragStart($event, i)"
        (dragend)="onDragEnd($event)"
      >
        <span>{{ item }}</span>

        <i class="fas fa-grip-vertical"></i>
      </li>
    </ul>
  </section>
</section>
