<section class="f-col gap-8">
  <h1 class="w-fit">Assignment {{ assignmentNumber }}</h1>

  <div class="flex gap-20">
    <section class="w-2/5">
      <p>Create a Form with the following Controls and Validators:</p>

      <ol class="ml-6 mt-1 list-decimal">
        <li>Project Name (should not be empty)</li>
        <li>Mail (should not be a empty and a valid email)</li>
        <li>
          Project Status Dropdown, with three values: 'Stable', 'Critical',
          'Finished'
        </li>
        <li>Submit Button</li>
      </ol>

      <ol class="mt-4 list-disc">
        <li>
          Add your own Validator which doesn't allow "Test" as a Project Name.
        </li>
        <li>
          Also implement that Validator as an async Validator (replace the other
          one).
        </li>
        <li>
          Upon submitting the form, simply print the value to the console.
        </li>
      </ol>
    </section>

    <div class="flex w-3/5 gap-10">
      <form
        class="f-col w-full gap-10"
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
      >
        <section class="relative">
          <input
            type="text"
            name="projectName"
            placeholder="Project Name"
            class="w-full border border-gray-600"
            formControlName="projectName"
          />

          <div
            *ngIf="
              !signupForm.get('projectName').valid &&
              signupForm.get('projectName').touched
            "
            class="absolute -bottom-6 left-0"
          >
            <span
              *ngIf="
                signupForm.get('projectName').hasError('projectNameIsForbidden')
              "
            >
              This project name is invalid. Please enter another project name.
            </span>

            <span *ngIf="signupForm.get('projectName').hasError('required')">
              Please, enter a project name.
            </span>
          </div>
        </section>

        <section class="relative">
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="w-full border border-gray-600"
            formControlName="email"
          />

          <span
            *ngIf="
              !signupForm.get('email').valid && signupForm.get('email').touched
            "
            class="absolute -bottom-6 left-0"
          >
            Please, enter a valid email.
          </span>
        </section>

        <section class="relative w-full">
          <select
            name="projectStatus"
            formControlName="projectStatus"
            class="w-full"
          >
            <option *ngFor="let p of projectStatus" [value]="p">{{ p }}</option>
          </select>
        </section>

        <app-button type="submit" [outlined]="true" size="full">
          Submit
        </app-button>
      </form>
    </div>
  </div>
</section>
