<section class="f-col gap-8">
  <h1 class="w-fit">Assignment {{ assignmentNumber }}</h1>

  <div class="flex gap-20">
    <section class="w-2/5">
      <!-- <p>Add a Form with the following Inputs (and Validators):</p>

      <ol class="ml-6 mt-1 list-decimal">
        <li>
          Mail address (should not be empty and should be an email address)
        </li>
        <li>
          A Dropdown which allows the user to select from three different
          Subscriptions ("Basic", "Advanced", "Pro") Set "Advanced" as Default
        </li>
        <li>A Password field (should not be empty)</li>
        <li>A Submit Button</li>
      </ol>

      <ol class="mt-4 list-disc">
        <li>
          Display a warning message if the Form is invalid AND was touched.
          Display a warning message below each input if it's invalid.
        </li>
        <li>
          Upon submitting the form, you should simply print the Value of the
          Form to the Console.
        </li>
        <li>Optionally, display it in your template.</li>
      </ol> -->
    </section>

    <div class="flex w-3/5 gap-10">
      <form
        class="f-col w-full gap-10"
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
      >
        <section class="relative">
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="w-full border border-gray-600"
            formControlName="username"
          />

          <div
            *ngIf="
              !signupForm.get('username').valid &&
              signupForm.get('username').touched
            "
            class="absolute -bottom-6 left-0"
          >
            <span *ngIf="signupForm.get('username').errors['nameIsForbidden']">
              This username is invalid. Please enter another username.
            </span>

            <span *ngIf="signupForm.get('username').errors['required']">
              Please, enter a username.
            </span>
          </div>
        </section>

        <section class="relative">
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="w-full border border-gray-600"
            formControlName="email"
          />

          <span
            *ngIf="
              !signupForm.get('email').valid && signupForm.get('email').touched
            "
            class="absolute -bottom-6 left-0"
          >
            Please, enter a valid email.
          </span>
        </section>

        <section class="relative w-fit">
          <label *ngFor="let g of genders" class="radio-container">
            <span class="label-title">{{ g }}</span>

            <input
              type="radio"
              name="gender"
              checked="checked"
              [title]="g"
              [value]="g"
              formControlName="gender"
            />

            <span class="checkmark"></span>
          </label>
        </section>

        <section class="f-col relative gap-2" formArrayName="hobbies">
          <h3>Your Hobbies</h3>

          <app-button
            text="Add Hobby"
            [outline]="true"
            type="secondary"
            (click)="onAddHobby()"
          ></app-button>

          <input
            *ngFor="let h of getControls('hobbies'); let i = index"
            type="text"
            placeholder="Hobby Name"
            [formControlName]="i"
          />
        </section>

        <app-button
          text="Submit"
          [outline]="true"
          size="full"
          [submit]="true"
        ></app-button>
      </form>
    </div>
  </div>
</section>
