<article class="f-col gap-4 rounded border border-gray-300 p-4">
  <header>
    <h2>{{ account.name }}</h2>

    <hr />

    <p class="py-2">This account is {{ account.status }}</p>
  </header>

  <div class="flex gap-4">
    <app-button
      text="Set to 'active'"
      type="success"
      [outline]="true"
      size="sm"
      (click)="changeStatus('active')"
    ></app-button>

    <app-button
      text="Set to 'inactive'"
      type="warning"
      [outline]="true"
      size="sm"
      (click)="changeStatus('inactive')"
    ></app-button>

    <app-button
      text="Set to 'unknown'"
      type="secondary"
      [outline]="true"
      size="sm"
      (click)="changeStatus('unknown')"
    ></app-button>
  </div>
</article>
