<article class="flex flex-col gap-4 rounded border border-gray-300 p-4">
  <header>
    <h2>{{ account.name }}</h2>

    <hr />

    <p class="py-2">This account is {{ account.status }}</p>
  </header>

  <div class="flex gap-4">
    <app-button
      variant="success"
      [outlined]="true"
      size="sm"
      (click)="changeStatus('active')"
    >
      Set to 'active'
    </app-button>

    <app-button
      variant="warning"
      [outlined]="true"
      size="sm"
      (click)="changeStatus('inactive')"
    >
      Set to 'inactive'
    </app-button>

    <app-button
      variant="secondary"
      [outlined]="true"
      size="sm"
      (click)="changeStatus('unknown')"
    >
      Set to 'unknown'
    </app-button>
  </div>
</article>
