<section class="flex gap-12">
  <aside class="f-col w-60 gap-12">
    <div class="f-col gap-2">
      <app-button
        *ngFor="let u of users"
        variant="secondary"
        size="full"
        [outlined]="true"
        [routerLink]="['/users', u.id, u.name]"
      >
        Load user: {{ u.name }}
      </app-button>
    </div>

    <hr />

    <div class="f-col gap-2">
      <h2 class="mb-4 underline">Page options</h2>

      <app-button
        variant="secondary"
        size="full"
        [outlined]="true"
        (click)="onClick()"
      >
        Go to servers page
      </app-button>

      <app-button
        variant="secondary"
        size="full"
        [outlined]="true"
        (click)="reloadPage()"
      >
        Reload page
      </app-button>

      <app-button
        variant="secondary"
        size="full"
        [outlined]="true"
        routerLink="/unknown"
      >
        Go to Unknown page
      </app-button>
    </div>
  </aside>

  <div *ngIf="!userLoaded">
    <h2 class="mb-4">
      <i class="fas fa-arrow-left"></i>

      Load a user
    </h2>
  </div>

  <router-outlet></router-outlet>
</section>
