<section class="flex gap-12">
  <aside class="f-col w-60 gap-12">
    <div class="f-col gap-2">
      <app-button
        *ngFor="let u of users"
        text="Load user: {{ u.name }}"
        type="secondary"
        size="full"
        [outline]="true"
        [routerLink]="['/users', u.id, u.name]"
      ></app-button>
    </div>

    <hr />

    <div class="f-col gap-2">
      <h2 class="mb-4 underline">Page options</h2>

      <app-button
        text="Go to servers page"
        type="secondary"
        size="full"
        [outline]="true"
        (click)="onClick()"
      ></app-button>

      <app-button
        text="Reload page"
        type="secondary"
        size="full"
        [outline]="true"
        (click)="reloadPage()"
      ></app-button>

      <app-button
        text="Go to Unknown page"
        type="secondary"
        size="full"
        [outline]="true"
        routerLink="/unknown"
      ></app-button>
    </div>
  </aside>

  <div *ngIf="!userLoaded">
    <h2 class="mb-4">
      <i class="fas fa-arrow-left"></i>

      Load a user
    </h2>
  </div>

  <router-outlet></router-outlet>
</section>
