<section class="flex gap-12">
  <aside class="f-col gap-12 w-60">
    <div class="f-col gap-2">
      <button *ngFor="let u of users" class="transparent w-full" [routerLink]="['/users', u.id, u.name]">
        Load user: {{u.name}}
      </button>
    </div>

    <hr>

    <div class="f-col gap-2">
      <h2 class="underline mb-4">Page options</h2>

      <button (click)="onClick()" class="transparent w-full">Go to
        servers
        page</button>

      <button (click)="reloadPage()" class="transparent w-full">Reload
        page</button>

      <div class="f-col">
        <button (click)="brokenReloadPage()" class="transparent w-full">
          This button will break the app
        </button>

        <label class="text-xs text-gray-400">Check console</label>
      </div>
    </div>
  </aside>

  <div *ngIf="!userLoaded">
    <h2 class="mb-4">
      <i class="fas fa-arrow-left"></i>

      Load a user
    </h2>
  </div>

  <!-- <router-outlet (activate)="onLoaded($event)"></router-outlet> -->
  <router-outlet></router-outlet>
</section>